<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Level UP</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" type="text/css" href="LevelUp.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<h1 style="color:white">Level UP</h1>
		<div id="nav">
		<ul class="nav nav-tabs navbar-right">
  			<li role="presentation" class="active"><a href="/skill_sets" aria-controls="skills" role="tab" data-toggle="tabs">Skill Set Clusters</a></li>
  			<li role="presentation"><a href="/trends" aria-controls="trends" role="tab" data-toggle="tabs">Trends</a></li>
  			<li role="presentation"><a href="/geographic_demand" aria-controls="Skills" role="tab" data-toggle="tabs">Geographic Demand</a></li>
		</ul>
		</div>
	</div>
</nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        	{% if messages %}
        		{% for message in messages %}
            		<ul class="flashes">
            			<li>{{message}}</li>
           			</ul>
        		{% endfor %}
        	{% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>

<script src="/static/LevelUp.js"></script>

</body>
</html>