html,body { height:100%; }

body{
	font-size: medium;
	height: 100%;
}

div{
	margin: 0px;
	padding: 0px;
}

#title{
	font-family: Electrolize;
	color: blue;
	float: right;
}

#logo{
	color: white; 
}

#center {
	opacity: 0.9;
	border: 2px solid;
    border-radius: 25px;
    font-size: large;
	font-family: Electrolize;
	font-weight: 900;
	font color: black;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -310px;
  	background-color: #8C9C9C;
  	padding: 15px;
}

#trends_results {
	position: relative;
	background-color: white;
	opacity: .9;
	height: 600px;
	width: 1000px;
}

.navbar {
	font-family: Special Elite;
	font-size: 150%; 
	padding: 0;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	font color: white;
} 

/*#page-header {
	font color: white;
}*/

.navbar-header{
	font color: white;
}

.container-fluid {
	display: table;
	width: 100%;
	padding: 25px;
	padding-top: 10px;
}

.row-fluid {
	display: table-row;
	height: 100%;
}

.col-md-9{
	padding: 0;
	display: table-cell;
	float: none;
	width: 75%;
}

.col-md-3{	
	height: 100%;
	width: 25%;	
	display: table-cell;
	float: none;
}

.legend-text {
	display: inline-block;
	margin-right: 5px;
}

.legend-box {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 20px;
}

#trends_legend {
	text-align: center;
}

#search {
	vertical-align: top;
	font-family: Electrolize;
	font-size: 100%;
	font-style: #8C9C9C;
	background-color: #8C9C9C;
	opacity: .9;
	padding: 15px;
}

#result {
	vertical-align: top;
	padding: 15px;
	font-family: Electrolize;
}

/*https://farm3.staticflickr.com/2927/14164315519_d78b0f50e8_b.jpg
/*https://farm6.staticflickr.com/5565/15115777092_ed771413b5_b.jpg
/*https://farm6.staticflickr.com/5594/14365343526_cdb675fbfc_b.jpg
/*https://farm6.staticflickr.com/5154/14185447737_0aba637f46_b.jpg
/*https://farm4.staticflickr.com/3904/14327833686_a89caa3cc3_b.jpg
/*https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?fit=crop&fm=jpg&h=800&q=75&w=1050