body{
	background: #FFFFFF;
	font-size: medium;
}

div{
	margin: 0px;
	padding: 0px;
}

#search{
    background-color: #8C9C9C;
}

#center {
	background-color: white;
	opacity: 0.7;
	border: 2px solid;
    border-radius: 25px;
}

.navbar {
	font-family: Orbitron;
	background: #000000;
	font-size: 150%; 
	padding: 0;
	margin: 0;
} 

/*#page-header {
	font color: white;
}*/

.container-fluid {
	margin: 0px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
/*	background-color: E7E6EB;*/
}
.row-fluid {
	display: table;
	margin: -15px;
	padding: -15px;
	margin-top: 0px;
	height: 100%;
}

.col-md-9{
	display: table-cell;
	float: none;
	width: 75%;
	height: 100%;
	vertical-align: top;
}

.col-md-3{	
	width: 25%;
	height: 100%;
	padding-top: 15px;
	display: table-cell;
	float: none;
	vertical-align: top;
}

.legend-text {
	display: inline-block;
	margin-right: 5px;
}

.legend-box {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 20px;
}

/*#table {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
}
*/
#trends_legend {
	text-align: center;
}

#search {
/*	display: table-cell;*/
	vertical-align: top;
	font-family: Electrolize;
	font-size: 100%;
/*	padding: 15px;*/
	border: solid;
	border width: 2px;
	border-color: #FAFAFA;
/*	width: 20%;*/
}

#result {
/*	display: table-cell;*/
	vertical-align: top;
	padding: 15px;
	font-family: Electrolize;
}

