html,body { height:100%; }

body{
	/*background: #FFFFFF;*/
	font-size: medium;
	height: 100%;
	/*background-image: url(https://farm4.staticflickr.com/3904/14327833686_a89caa3cc3_b.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}

div{
	margin: 0px;
	padding: 0px;
}

#logo{
	font color: white; 
}

#center {
/*	background-color: white;*/
	opacity: 0.7;
	border: 2px solid;
    border-radius: 25px;
}

.navbar {
	font-family: Special Elite;
	font-size: 150%; 
	padding: 0;
	margin: 0;
	padding-left: 15px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	font color: white;
} 

/*#page-header {
	font color: white;
}*/

.navbar-header{
	font color: white;
}

.container-fluid {
	display: table;
	width: 100%;
/*	margin: 0px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;*/
	/*background-color: E7E6EB;*/
}
.row-fluid {
	display: table-row;
	height: 100%;
/*	margin: -15px;
	padding: -15px;
	margin-top: 0px;
	height: 100%;*/
}

.col-md-9{
	padding: 0;
	display: table-cell;
	float: none;
	width: 75%;
/*	width: 75%;
	height: 100%;
	vertical-align: top;*/
}

.col-md-3{	
	height: 100%;
	width: 25%;	
/*	padding-top: 15px;
*/	display: table-cell;
	float: none;
/*	vertical-align: top;
*/}

.legend-text {
	display: inline-block;
	margin-right: 5px;
}

.legend-box {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 20px;
}

/*#table {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
}
*/
#trends_legend {
	text-align: center;
}

#search {
/*	display: table-cell;*/
	vertical-align: top;
	font-family: Electrolize;
	font-size: 100%;
	font-style: #8C9C9C;
	background-color: #8C9C9C;
	opacity: .9;
	padding: 15px;
}

#result {
/*	display: table-cell;*/
	vertical-align: top;
	padding: 15px;
	font-family: Electrolize;
}

/*https://farm3.staticflickr.com/2927/14164315519_d78b0f50e8_b.jpg
/*https://farm6.staticflickr.com/5565/15115777092_ed771413b5_b.jpg
/*https://farm6.staticflickr.com/5594/14365343526_cdb675fbfc_b.jpg
/*https://farm6.staticflickr.com/5154/14185447737_0aba637f46_b.jpg
/*https://farm4.staticflickr.com/3904/14327833686_a89caa3cc3_b.jpg
/*https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?fit=crop&fm=jpg&h=800&q=75&w=1050