{% extends 'main.html' %}
{% block body %}
<div id="table">
	<div id="results">
		<img src="http://media.tumblr.com/tumblr_lv0u82arJO1qhyqty.png">
	</div>
	<div id="search">
		<div>
		<form action="/skill_angelList_call" method="GET" role="form" class="form-horizontal">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" 
					tabindex="-1">Technology
				</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
					 <span class="caret"></span>
					 <span class="sr-only">Toggle Dropdown</span>
				</button>
					<ul class="dropdown-menu">
						{% for i in skills %}
            			<label><li value={{ i.id }}>{{ i.tagdisplayname }}</li></label>
            			{% endfor %}						
					</ul>
			</div>
		</form>
		</div>
		<div>
		<form action="/jobtitle_angelList_call" method="GET" role="form" class="form-horizontal">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" 
					tabindex="-1">Job Title  
				</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
					<ul class="dropdown-menu pull-right">
						{% for i in jobtitles %}
            			<label><li value={{ i.id }}>{{ i.tagdisplay }}</li></label>
            			{% endfor %}
					</ul>
			   </div>
			   <!--button type="submit" value=" Send" class="btn btn-success" id="submit" /> Submit -->
		</form>
		</div>
	</div>
</div>
{% endblock %}
