{% extends 'main.html' %}
{% block body %}
<div id="table">
	<div id="cluster_results">
		<img src="http://media.tumblr.com/tumblr_lv0u82arJO1qhyqty.png">
	</div>
	<div id="search">
		<form action="/skill_angelList_call" method="POST">
			 Select Technology: 
	        <label><SELECT name="selected_skill" id="skill_dropdown">
	            {% for i in skills %}
	            <label><option value="{{ i.id }}">{{ i.tagdisplayname }}</option></label>
	            {% endfor %}
	        </SELECT></label>
	        <label><input type="submit" id="skill_cluster_button">Submit</input></label>
		</form>
	</div>
{% endblock %}
