<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Level UP</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script scr="https://raw.githubusercontent.com/Caged/d3-tip/master/index.js"></script>
	<script src="http://cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script> 
	<!-- // <script src="../d3.min.js"></script> -->
	<script src="http://d3js.org/d3.v3.js"></script>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="static/LevelUp.css"> 
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<h1 style="color:white">Level UP</h1>
		<div id="nav">
		<ul class="nav nav-tabs navbar-right">
			<li role="presentation"><a href="/skill_sets" aria-controls="skills" role="tab" data-toggle="tabs">Skill Set Clusters</a></li>
			<li role="presentation"><a href="/trends" aria-controls="trends" role="tab" data-toggle="tabs">Trends</a></li>
			<li role="presentation" class="active"><a href="/geographic_demand" aria-controls="Skills" role="tab" data-toggle="tabs">Geographic Demand</a></li>
		</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<!-- <div id="table"> -->
<!-- 	<div id="geo_results"> 
		<p>Thinking of moving? See where your skills are in most demand, according to Careerbuilder's and AngelList's joblistings.</p>
	</div> -->
	<div class="row-fluid">
		<div class="col-md-9" id ="mapdiv" style= "height:700px;width:1000px;"></div>
		<div class="col-md-3" id="search">
			<form action="/geographic_demand_skill" method="GET">
				<h3>Select Technology:</h3> 
				<label><SELECT name="selected_geo_skill">
					{% for i in skills %}
					<label><option value={{ i }}>{{ i }}</option></label>
					{% endfor %}
					</SELECT></label>
				<label><input type="submit" id="geo_skill_button">Submit</input></label>
			</form>
		</div>
	</div>
</div>
<script src="/static/geo.js"></script>
<script src="/static/LevelUp.js"></script>
<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiYnRpZ2VyY2wiLCJhIjoiTnd3OWp5OCJ9.bSkS-vF6k8g_jeV25fC7sw';
		var map = L.mapbox.map('mapdiv', 'btigercl.lb66g6k0')
			.setView([38, -95], 4);

		var mapLayergroup = L.layerGroup().addTo(map);
	$(document).ready(startGeo())
</script>
</body>
</html>