{% extends 'main.html' %}
{% block body %}
<div id="table">
	<div id="geo_results">
		<ul>
		{% for name, x, y in geo_tups %}
			<li>{{name}}: {{ x }}, {{ y }}</li>
		{% endfor %}
		</ul>
	</div>
	<div id="search">
		<form action="/geographic_demand_skill" method="POST">
			 Select Technology: 
			<label><SELECT name="selected_skill">
				{% for i in skills %}
				<label><option value={{ i.id }}>{{ i.tagdisplayname }}</option></label>
				{% endfor %}
			</SELECT></label>
			<label><input type="submit">Submit</input></label>
		</form>
	</div>
</div>
{% endblock %}