<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weclome Page</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="static/LevelUP.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

	<style type="text/css">
	body{
		text-align: center;
		background-color: black;
		background-image: url(http://media.oregonlive.com/photogallery/photo/3b5cc0fedb770a695089b75fa7aad193.JPG);
		background-repeat: no-repeat;
		background-position: center;
/*		background-size: cover;*/
	}
	</style>
</head>
<body id= "landings">
	<div id="center">
	<h1 style="font-family:Special Elite;">Welcome to LevelUP</h1>
	<p>A tool to find out what skills you need to LevelUP in your field</p>
		<form id="landing_form" action="/skill_sets" method="get">
		<h4>What skill are you interested in?</h4>
			
			<label><SELECT class="form-control" name="selected_landing_skill" id="skill_dropdown">
	        	{% for i in skills %}
	            <label><option value="{{ i }}">{{ i }}</option></label>
	            {% endfor %}
	        	</SELECT></label>
            	<br>
	        <label><input type="submit" id="landing_button"></input></label>
		</form>
	</div>
<script src="/static/LevelUp.js"></script>
</body>
</html>