<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weclome Page</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/LevelUp.css">
	<style type="text/css">
	body{
		text-align: center;
		background-color: black;
		background-image: url(http://media.oregonlive.com/photogallery/photo/3b5cc0fedb770a695089b75fa7aad193.JPG);
		background-repeat: no-repeat;
		background-position: center;
/*		background-size: cover;*/
	}
	div{
		font-size: large;
		position: fixed;
  		top: 50%;
  		left: 50%;
  		margin-top: -125px;
  		margin-left: -200px;
	}
	</style>
</head>
</head>
<body>
	<div id="center">
	<h1>Welcome to LevelUP</h1>
	<p>Find out what skills you need to LevelUP in your field</p>
		<form id="landing_form" action="/skill_sets" method="get">
		What skill are you interested in?
		<br>
	    <label><SELECT name="selected_skill" id="skill_dropdown">
	        {% for i in skills %}
	        <label><option value="{{ i.id }}">{{ i.tagdisplayname }}</option></label>
	        {% endfor %}
	    	</SELECT></label>
	    <label><input type="submit" id="landing_button">Submit</input></label>
	</form>
	<a href="/skill_sets" class="btn btn-info" role="button">Enter</a>
	</div>
</body>
</html>