{% extends 'main.html' %}
{% block body %}
<div id="table">
	<div id="trends_results">
	<canvas id="myChart" width="400" height="400"></canvas>
	</div>
	<div id="search">
		<form action="/db_call_trend" method="get">
			 Select Skill: 
			 <br>
			<label><SELECT name="selected_trend1">
				{% for name in trends %}
				<label><option value={{ name }}>{{ name }}</option></label>
				{% endfor %}
			</SELECT></label>
			<br>
<!-- 			Select Second Skill:
			<label><SELECT name="selected_trend2">
				{% for i in trends %}
				<label><option value={{ i }}>{{ i }}</option></label>
				{% endfor %}
			</SELECT></label>
			<br>
			Select Third Skill:
			<label><SELECT name="selected_trend3">
				{% for i in trends %}
				<label><option value={{ i }}>{{ i }}</option></label>
				{% endfor %}
			</SELECT></label> -->
			<label><input type="submit" id="trend_button">Submit</input></label>
		</form>
	</div>
</div>
{% endblock %}